<h1>Articles Listing Page</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
   
  </thead>
  <tbody>
  <tr><% @articles.each do |article| %>
    <td><%= article.title%></td>
    <td><%= article.description %>Some Descript</td>
    <td>Placeholders</td>
  </tr>
  <% end %>
  </tbody>
</table>
